.header {
    display: flex;
    position: fixed;
    flex-direction: column;
    gap: 1em;
    width: 11em;
    height: 100vh;
    padding: 1em;
    background-color: lightgray;
    box-sizing: border-box;
}
