.lexend-font {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em 0 2em 0;
    color: #d8a87c;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
    color: inherit;
    text-decoration: inherit;
}