.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

main {
    display: flow-root;
    margin-left: 11em;
    padding: 0 1em;
}
