.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/*
A class to center the childs: in this case, the header and main elements
*/
.top-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Up the direct childs of a class's element */
.top-holder>* {
    position: relative;
    z-index: 2;
}

.weak-light {
    position: fixed;
    width: 70vh;
    height: 70vh;
    border-radius: 100%;
    filter: blur(12em);
    opacity: 10%;
}

/* A container with the text */
main {
    max-width: 56em;
    margin: 1em 2em 2em 2em;
    padding: 1em;
    box-sizing: border-box;
    background-color: rgb(15, 15, 15);
    border-radius: 1em;
    box-shadow: rgb(95, 74, 55, 0.5) 0 0 .25em;
}

/*
Remove the top margin for the top elements that was placed in the
container with the text
*/
main :first-child {
    margin-top: 0;
}

/*
Remove the bottom margin for the bottom elements that was placed in the
container with the text
*/
main :last-child {
    margin-bottom: 0;
}

/* Adapting the weak lights to the small screens */
@media screen and (width <=110em) {
    .weak-light {
        width: 60vh;
        height: 60vh;
    }
}

@media screen and (width <=86em) {
    .weak-light {
        width: 50vh;
        height: 50vh;
    }
}

@media screen and (width <=70em) {
    .weak-light {
        width: 40vh;
        height: 40vh;
    }
}

a:link {
    color: #ff9d53;
}

a:visited {
    color: #ffd573;
}

a:hover {
    color: #ffb883;
}

a:active {
    color: orangered;
}